@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-200;
}

#app {
    font-family: Inter, sans-serif;
    color: theme('colors.gray.700');
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Quicksand, sans-serif;
    color: theme('colors.gray.800');
    font-weight: bold;
}

h1 {
    @apply text-4xl;
}

h2 {
    @apply text-3xl;
}

h3 {
    @apply text-2xl;
}

h4 {
    @apply text-xl;
}

h5 {
    @apply text-lg;
}

a {
    @apply text-blue-600 underline;
}

.default-button {
    /*bg-primary shadow-xl hover:bg-blue-600 text-white font-bold py-2 px-8 rounded-full focus:outline-none focus:shadow-outline*/
    @apply bg-primary text-white font-bold py-2 px-8 rounded-full;
    box-shadow: 0 10px 15px -3px rgba(48, 168, 230, 0.3);
}

.default-button:not([disabled]):hover {
    @apply bg-blue-600;
}

.default-button:focus {
    @apply outline-none shadow-outline;
}

.default-button:disabled {
    @apply shadow-none opacity-75;
}

.default-input {
    /*appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline*/
    @apply appearance-none border rounded py-2 px-3 text-gray-700 leading-tight;
}

.default-input:focus {
    @apply outline-none shadow-outline;
}

.default-input:disabled {
    @apply opacity-75;
}

.input-error {
    @apply border-red-200;
}

.card {
    @apply rounded-lg overflow-hidden shadow-md bg-white;
}

/*Dirty hacks for VC Calender*/
/* purgecss start ignore */
.vc-border {
    border: none !important;
}

.vc-container {
    font-family: Inter, sans-serif !important;
}

.vc-title {
    font-family: Quicksand, sans-serif;
}

.vc-day-box-center-center {
    @apply p-1;
}

.vc-rounded-full {
    height: 2rem !important;
    width: 2rem !important;
}

.vc-bg-blue-600 {
    background: theme('colors.primary') !important;
    box-shadow: 0 7px 8px -3px rgba(48, 168, 230, 0.5);
}
/* purgecss end ignore */
